---
layout: default
title: OHI Science
title: Ocean Health Index
subtitle: open-source scientific tools and resources
comments: false
---
{% include JB/setup %}

{% include themes/OHI/site_tagline.html %}

<div class="stripe">
	<div class="container grid">
		<div class="col-1-3">
			<h2 id="more"> What is the OHI? </h2>
			<p>
				The Ocean Health Index ('OHI') is a way to measure how healthy oceans are. Understanding the state of our oceans is a first step towards ensuring they can continue providing humans benefits now and in the future.
			</p>
			<a class="btn" href="/about">Learn More</a>
		</div>
		<div class="col-2-3">
			<img src="{{ ASSET_PATH }}OHI/img/flower_plot.png" alt="OHI Flower plot" />
		</div>
	</div>
</div>

{% assign color = 'white' %}
{% assign position = 'bottom-left' %}
{% include themes/OHI/diagonal %}

<div class="stripe color-light-2">
	<h2> What is OHI+? </h2>
	<h4>Independent assessments at any scale.</h4>
	<div class="container">
		<p>
		OHI+ assessments use the OHI framework and are independently-led by anyone interested. OHI+ assessments are often conducted at smaller spatial scales with the purpose of informing marine policy.
		</p>
		<a class="btn" href="/about#what-is-ohi">Learn More</a>
	</div>
</div>

<div class="stripe extra-height where-assessments">
	<h2> Where have assessments been done? </h2>
	<div class="container">
		<p>
		Assessments at the global scale have been completed from 2012-2015. Assessments have also been completed or are underway at smaller scales within coastal countries or groups of countries around the world.
		</p>
		<a href="projects" class="btn">View all assessments</a>
		<a href="resources#pubilcations" class="btn">View publications</a>
	</div>
</div>

{% assign color = 'dark' %}
{% assign position = 'top-both' %}
{% include themes/OHI/diagonal %}

<div class="stripe dark">
	<h2 class="center"> How do I get started? </h2>
	<div class="container grid">
		<div class="col-1-3" >
			<a href="phases">
				{% include themes/OHI/phases-graphic.html %}
			</a>
		</div>
		<div class="col-2-3">
			<p>
			We provide free instruction and software so you can conduct your own OHI+ assessment. There are four phases to the assessment process: Learn, Plan, Conduct, and Inform.
			</p>
			<a href="phases" class="btn primary">Start your OHI+ assessment now <i class="icon icon-right lnr lnr-arrow-right-circle"></i></a>
			<div class="container">
				<a href="resources" class="btn">Resources</a>
				<a href="forum" class="btn">Connect With the Community</a>
			</div>
		</div>
	</div>
</div>

<div class="stripe">
	<div class="container">
		<h2 id="news">News</h2>
		<p>
			See the latest news about OHI and OHI+ methods, tools, and assessments. 
		</p>
		<a href="news" class="btn">View all OHI Science news</a>
	</div>
</div>