---
layout: default
title: OHI Science
title: Ocean Health Index
subtitle: open data science tools and resources
subtitle2: for marine science and management
comments: false
---
{% include JB/setup %}

{% include themes/OHI/site_tagline.html %}

<div class="stripe">
	<div class="container grid">
		<div class="col-1-2">
			<h2 id="more"> What is the Ocean Health Index? </h2>
			<p>
				The Ocean Health Index ('OHI') is a scientific framework used to measure how healthy oceans are. Understanding the state of our oceans is a first step towards ensuring they can continue providing humans benefits now and in the future.
			</p>
			<a class="btn" href="/about">Learn more</a>
			<a class="btn" href="/data">Download data</a>
			<a class="btn" href="http://www.oceanhealthindex.org/">Visit our overview website oceanhealthindex.org</a>
		</div>
		<div class="col-1-2">
			<img src="{{ ASSET_PATH }}OHI/img/flower_plot.png" alt="OHI Flower plot" />
		</div>
	</div>
</div>

{% assign color = 'white' %}
{% assign position = 'bottom-left' %}
{% include themes/OHI/diagonal %}

<div class="stripe extra-height where-assessments">
	<h2> Where have OHI assessments been done? </h2>
	<div class="container">
		<p>
				We've led global OHI assessments of 220 coastal nations and territories every year since 2012, and also lead OHI assessments at smaller scales.
		</p>

		<p>
				Additionally, we share code and provide training and support for independent groups interested in leading their own OHI assessments. These are called independent OHI assessments, or 'OHI+ assessments'.
		</p>
		<p>
		</p>
		<a class="btn" href="/about#what-is-ohi">Learn more about OHI+</a>
		<a href="projects/ohi-assessments" class="btn">View all assessments</a>
		<a href="resources#publications" class="btn">View publications</a>
	</div>
</div>

<div class="stripe color-light-2">
  <div class="container grid">
    <div class="col-1-2">
			<img src="{{ ASSET_PATH }}OHI/img/OHI_hex_sticker.png" alt="OHI hex sticker" />
    </div>
		<div class="col-1-2">
	<h2> Open data science for marine science and management </h2>
		<p>
				The OHI is transforming the way marine science streamlines with coastal management by leveraging practices and tools from open science and data science. We work openly online and have shared our story in publications and blogs. We teach these practices and tools to groups leading OHI+ assessments.
		</p>
		<a href="http://ohi-science.org/betterscienceinlesstime/" class="btn">Better science in less time</a>
	</div>
	</div>
</div>

{% assign color = 'dark' %}
{% assign position = 'top-both' %}
{% include themes/OHI/diagonal %}

<div class="stripe dark">
	<h2 class="center"> How do I get started? </h2>
	<div class="container grid">
		<div class="col-1-3" >
			<a href="phases">
				{% include themes/OHI/phases-graphic.html %}
			</a>
		</div>
		<div class="col-2-3">
			<p>
			We provide free instruction and software so you can conduct your own OHI+ assessment. There are four phases to the assessment process: Learn, Plan, Conduct, and Inform.
			</p>
			<a href="phases" class="btn primary">Start your OHI+ assessment now <i class="icon icon-right lnr lnr-arrow-right-circle"></i></a>
			<div class="container">
				<a href="resources" class="btn">Resources</a>
				<a href="forum" class="btn">Connect with the community</a>
			</div>
		</div>
	</div>
</div>

<div class="stripe">
	<div class="container">
		<h2 id="news">News</h2>

		{% include themes/OHI/news max=3 %}

		<a href="news" class="btn">View all OHI Science news</a>
	</div>
</div>
