---
layout: page
title: OHI+
tagline: Phases of the OHI+ assessment
comments: false
group: navigation
js: phases
---
{% include JB/setup %}

<div class="display stripe crossword-pattern">
	<div class="grid">
		<div class="col-2-3">
			{% include themes/OHI/phases-graphic.html %}
		</div>
		<div class="col-1-3" id="summary-container">
			<div class="summary">
				<h3>Phases of an OHI+ Assessment</h3>
				<p>
					Intro text to the assessments goes here
				</p>
			</div>
			<div class="container break-above">
				<a href="#more" class="center">View in list form <i class="icon icon-med icon-right lnr lnr-arrow-down-circle"></i></a> 
			</div>
		</div>
	</div>
</div>

<div class="container">	
	<a name="more" id="more"></a>

	<div class="learn summary">
		<a name="learn" id="learn"></a>
		<h5>Phase 1</h5>
		<h2>Learn about the OHI</h2>
		<p>
		*3 sentence blurb about learn*
		*Erich*
		</p>	
		<a href="learn" class="btn">Learn more</a>
	</div>
	
	<div class="plan summary">
		<a name="plan" id="plan"></a>
		<h5>Phase 2</h5>
		<h2> Plan an OHI+ assessment</h2>
		<p>
		*3 sentence blurb plan*
		*Erich*
		</p>
		<a href="plan" class="btn">Learn more</a>
	</div>
		
	<div class="conduct summary">
		<a name="conduct" id="conduct"></a>
		<h5> Phase 3</h5>
		<h2>Conduct an OHI+ assessment</h2>
		<p>
		*3 sentence blurb conduct*
		*Erich*
		</p>
		<a href="manual" class="btn">Learn more</a>
	</div>
	
	<div class="inform summary">
		<a name="inform" id="inform"></a>
		<h5> Phase 4</h5>
		<h2>Inform using OHI+ assessment results</h2>
		<p>
		*3 sentence blurb inform*
		*Erich*
		</p>
		<a href="inform" class="btn">Learn more</a>
	</div>	
</div>


