---
layout: default
title: OHI+
tagline: Phases of the OHI+ assessment
comments: false
group: navigation
dropdown-navigation: ['/learn']
js: phases
---
{% include JB/setup %}

<div class="display stripe crossword-pattern">
	<div class="grid">
		<div class="col-2-3">
			{% include themes/OHI/phases-graphic.html %}
		</div>
		<div class="col-1-3" id="summary-container">
			<div class="summary">
				<h3>Phases of an OHI+ Assessment</h3>
				<p>
					OHI+ assessments have four iterative and repeated phases: 1) Learn about the Ocean Health Index and whether it is the right tool for the context; 2) Plan the assessment by building a team and developing a timeline; 3) Conduct the assessment by tailoring the OHI framework and calculating scores using the OHI Toolbox; 4) Inform policy and future assessments by sharing both scores and what was learned during the process. Assessments are most useful when they are repeated through time to understand changes in ocean health and integrated into continuous decision-making processes for adaptive management.
				</p>
				<p><em>Hover over each phase to learn more.</em>
			</div>
			<div class="container break-above">
				<a href="#more" class="center">View in list form <i class="icon icon-med icon-right lnr lnr-arrow-down-circle"></i></a> 
			</div>
		</div>
	</div>
</div>

<div class="container">	
	<a name="more" id="more"></a>

	<div class="learn summary">
		<a name="learn" id="learn"></a>
		<h5>Phase 1</h5>
		<h2>Learn about the OHI</h2>
		<p>
			The Ocean Health Index is a comprehensive assessment tool that evaluates a suite of goals that deliver benefits to humans. It can be tailored to identify and capture important factors in different contexts. Learn whether the OHI is the right assessment tool for your area, or learn from previous assessments to identify opportunities in subsequent assessments.
		</p>	
		<a href="/learn" class="btn">Learn more</a>
	</div>
	
	<div class="plan summary">
		<a name="plan" id="plan"></a>
		<h5>Phase 2</h5>
		<h2> Plan an OHI+ assessment</h2>
		<p>
		Planning an OHI+ assessment requires identifying the needs and spatial area of the assessment, establishing objectives and a timeline of activities, determining necessary resources (human and financial), and aligning the assessment process with existing efforts and initiatives. Further, it is important to identify and include collaborators, including key stakeholders or decision-makers.

		</p>
		<a href="/plan" class="btn">Learn more</a>
	</div>
		
	<div class="conduct summary">
		<a name="conduct" id="conduct"></a>
		<h5> Phase 3</h5>
		<h2>Conduct an OHI+ assessment</h2>
		<p>
			Conducting an assessment requires tailoring the OHI framework to the local context and using the Toolbox software to calculate scores based on this framework. This requires conceptually identifying important characteristics and priorities in the area, and gathering existing information and developing models to represent the framework. An emphasis is on transparency and reproducible science.
		</p>
		<a href="/manual" class="btn">Learn more</a>
	</div>
	
	<div class="inform summary">
		<a name="inform" id="inform"></a>
		<h5> Phase 4</h5>
		<h2>Inform using OHI+ assessment results</h2>
		<p>
			The scores produced from the assessment process, as well as what was learned through the process itself, should be shared. Along with final scores and methods, it is important to transparently describe successes and challenges of the process (including information and knowledge gaps). These can help to prioritize policy decisions and can also make future assessments more efficient.
		</p>
		<a href="/inform" class="btn">Learn more</a>
	</div>	
</div>


