$NP-color: #DE6625;
$FP-color: #D73A26;
$AO-color: #AD293A;
$CS-color: #D58F33;
$CP-color: #D5C827;
$CP-color-darker: #BFB106;
$TR-color: #C5D92E;
$TR-color-darker: #ACBD27;
$LE-color: #7C9F3E;
$SP-color: #3DBB9D;
$BD-color: #3C7ABE;
$CW-color: #904E9E;

.goals{
	.AO{
		a{ color: $AO-color; } 
	}
	
	.FP{
		a{ 	color: $FP-color; }
	}
	
	.CS{
		a{ color: $CS-color; }
	}
	
	.CP{
		a{ color: $CP-color-darker; }
	}
	
	.TR{
		a{ color: $TR-color-darker; }
	}
	
	.LE{
		a{ color: $LE-color; }
	}
		
	.SP{
		a{ color: $SP-color; }
	}
	
	.BD{
		a{ color: $BD-color; }
	}
	
	.CW{
		a{ color: $CW-color; }
	}
	
	.NP{
		a{ color: $NP-color; }
	}

}
.fixed-side-nav.goals{	   	
   	.nav .nav-item{
   		margin-bottom: $pad-small;
   		height: 57px;
	    height: calc(10% - 10px);
	    min-height: 40px;
	    clear: both;
	   	
	   	a{
	   		height: 100%;
	   	}
	   	img{
			height: 100%;
			max-height: 90px;
		    margin-right: 20px;
		    float: left;
	   	}
   	
	   	span{
	   		font-size: 1.1em;
	   		font-weight: bold;
	   		float: left;
	   		width: calc(100% - 124px);
	   	}
	}
	
	.nav .nav-item.AO span,
	.nav .nav-item.LE span{
	}
}
.goals-container{
	
	> h3{
		visibility: hidden;
		height: 0px;
		margin: 0px;
	}

	
	.goals-section-header{
		width: 100%;
		display: block;
		border-bottom-width: 4px;
		border-bottom-style: solid;
		margin-top: #{$pad-large * 2};
		padding-bottom: $pad-small;
		
		img{
			width: 100px;
			margin-right: $pad-small;
		}
		
		h3{
			display: inline;
			line-height: 100px;
			vertical-align: top;
		}
		
		&.AO{
			border-color: $AO-color;
		}
		&.NP{
			border-color: $NP-color;
		}
		&.CS{
			border-color: $CS-color;
		}
		&.CW{
			border-color: $CW-color;
		}
		&.TR{
			border-color: $TR-color;
		}
		&.CP{
			border-color: $CP-color;
		}
		&.LE{
			border-color: $LE-color;
		}
		&.BD{
			border-color: $BD-color;
		}
		&.SP{
			border-color: $SP-color;
		}
		&.FP{
			border-color: $FP-color;
		}
	}
}