.manual{
	
	.content {
	    max-width: 100%;
	    padding-top: $nav-height;
	    
	    .section[id],	        	
    	.section div[id]{
    		padding-top: $nav-height;
    		margin-top: -$nav-height;
    	}
	}
	
	.section.level1 {
    	margin-left: 27%;
	}
	
	footer {
    	margin-left: 25%;
    	width: 75%;
	}
	
	#header{
		display: none;
	}
	
	#TOC {
		max-height: 600px;
	    width: 25%;
	    float: left;
	    margin-right: $pad-large;
	    overflow-y: overlay;
	    padding: $pad-large / 2;
	    position: fixed;

		ul {
	 	   list-style: none;
		}
		
		 code{   
		 	font-size: 1em;
		    background-color: transparent;
		    color: inherit;
		    padding: 0px;
		}
	}
}

table {
  border-collapse: collapse;
  border-spacing: 0;
    background-color: transparent;
  
}
td,
th {
  padding: 0;
}
th {
  text-align: left;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
table table {
  background-color: #ffffff;
}
table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

