{% assign continents = "Global,North America,South America,Europe,Asia,Africa,Australia,Antartica,Arctic,Oceania" | split: "," %}

{% for continent in continents %}		
	{% assign posts = site.tags[continent] %}
	
	{% if posts | size > 0 %}
		<h6 class="subheading">{{ continent }}</h6>
		
		{% assign sortedPosts = posts | sort: "title" %}
		
		{% for post in sortedPosts %}
			{% if post.categories contains "assessment" %}
				<div class="container assessment">
					<h4>
						<a href="{{ post.url }}">{{ post.title }}</a>
						{% if post.tags contains "OHI+" %}
							<i class="icon plus lnr lnr-plus-circle icon-left icon-small"></i>
						{% endif %}
					</h4>
					{{ post.content }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
