/** Sass variables **/
/* blue */
/* orange */
/* purple-blue */
/* light teal */
/* light blue */
/* Responsive variables */
/*** Imports ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);
.grid { margin: 0 0 40px 0; }
.grid:after { /* Or @extend clearfix */ content: ""; display: table; clear: both; }

[class*='col-'] { float: left; padding-right: 40px; display: block; }
.grid [class*='col-']:last-child { padding-right: 0; }

.col-2-3 { width: 66.66%; }

.col-1-3 { width: 33.33%; }

.col-1-2 { width: 50%; }

.col-1-4 { width: 25%; }

.col-1-8 { width: 12.5%; }

.offset-1-4 { margin-left: 25%; }

.offset-1-2 { margin-left: 50%; }

.offset-1-3 { margin-left: 33.33%; }

.offset-1-8 { margin-left: 12.5%; }

.offset-2-3 { margin-left: 66.66%; }

@media only screen and (max-width: 480px) { .col-2-3, .col-1-3 { width: 100%; padding-right: 0px; clear: both; } }
/* Opt-in outside padding */
.grid-pad { padding: 40px 0 40px 40px; }
.grid-pad [class*='col-']:last-of-type { padding-right: 40px; }

.topbar { background-color: rgba(43, 89, 164, 0.85); float: right; list-style: none; width: 100%; padding: 10px 40px; position: fixed; z-index: 1; }
.topbar .brand { float: left; }
.topbar .brand > img { max-height: 55px; width: auto; }
.topbar .nav { float: right; margin: 0px; }
.topbar .icon { color: #FFF; }

.nav > li { float: left; margin-right: 20px; list-style: none; }
.nav li a, .nav li .icon { font-size: 1.2em; text-transform: uppercase; font-weight: lighter; color: white; line-height: 55px; }
.nav li a:hover, .nav li .icon:hover { color: #50b1a5; }
.nav #google_translate_element a { line-height: 1em; }
.nav #google_translate_element .goog-te-combo { border: 1px solid white; background-image: none; background-color: transparent; color: white; font-family: Lato, sans-serif; font-size: 1em; height: 2em; }
.nav #google_translate_element .goog-te-gadget, .nav #google_translate_element .goog-logo-link { color: white; }
.nav .sub-nav { padding-left: 0px; position: absolute; display: none; }
.nav .sub-nav > li { display: block; }
.nav .sub-nav > li a { text-transform: capitalize; font-size: 1em; line-height: 2em; }

#nav-trigger { position: absolute; top: 10px; right: 10px; }

#nav-trigger, #nav-trigger .collapse { display: none; }

@media all and (max-width: 900px) { #nav-trigger { display: block; }
  #nav-trigger .icon { font-size: 2em; }
  #nav-main { display: none; }
  .nav { float: none; text-align: center; }
  .nav li { width: 100%; }
  .topbar { min-height: 50px; padding-top: 0px; padding-bottom: 0px; }
  .topbar .brand img { height: 40px; margin-top: 5px; }
  .content > *:first-child { padding-top: 80px; } }
footer { background-color: #D2CFCF; padding: 20px 40px 0px 10px; width: 100%; min-height: 137px; position: absolute; bottom: 0px; }
footer .footer-inner > .grid { margin-bottom: 10px; }
footer h4 { font-weight: bold; font-size: 1em; }
footer nav > ul { padding-left: 0px; }
footer nav > ul > li { float: left; margin-right: 20px; font-weight: bold; min-width: 100px; }
footer nav > ul > li > a { text-align: center; }
footer nav > ul > li > .sub-nav { padding-left: 0px; margin-top: 20px; }
footer nav > ul > li > .sub-nav li { font-weight: normal; display: block; margin-bottom: 10px; }
footer ul { padding-left: 0px; }
footer a { color: #555; transition: color 500ms; }
footer a:hover { color: #2a58a5; }
footer .brand > img { max-height: 65px; }
footer .links { padding: 10px 10px 20px 10px; margin-bottom: 0px; width: calc(100% + 80px); margin-left: -40px; }
footer .links .links-inner { max-width: 800px; margin-left: auto; margin-right: auto; }
footer .links a { color: #2a58a5; text-align: center; margin-right: 2%; padding-right: 10px; }
footer .links a:not(:last-child) { border-right: 1px solid #555; }
footer .contact img.icon { height: 2em; width: auto; margin-right: 10px; }
footer .contact li { margin-bottom: 10px; display: inline; margin-right: 20px; float: right; }
footer .contact a { height: 2em; display: inline-block; }
footer .contact a span { vertical-align: top; font-weight: bold; }
footer .right { float: right; }

body { position: relative; }

body > .container { height: 100%; min-height: 1200px; padding-bottom: 137px; }

/* Headers */
/** The big display area at the top of a page **/
/* For the home page */
.tagline h1 { font-size: 4em; font-family: Lato, sans-serif; font-weight: bold; line-height: 1.5em; padding-top: 40px; }
@media only screen and (max-width: 480px) { .tagline h1 { font-size: 1.8em; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) { .tagline h1 { font-size: 3em; } }

h1 { font-weight: normal; }

h3 { font-family: Lato, sans-serif; font-size: 1.5em; }

h2 { font-family: Andada, serif; font-size: 1.7em; }

.subheading, h1 + h4, h5 { font-family: Lato, sans-serif; font-weight: normal; font-size: 1em; line-height: 1em; color: #999; }

h4 { font-size: 1.5em; font-weight: normal; }

h5 + h2, .assessment h4 { margin-top: -10px; }

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, p.center, a.center { text-align: center; }

hgroup.inline > * { display: inline; }

hgroup.inline > *:nth-child(1) { margin-right: 40px; }

.assessments .subheading, .assessments h1 + h4 { font-size: 1.2em; margin-bottom: 0px; border-top: 1px solid #CCC; padding-top: 20px; }

.diagonal-container { width: 100%; height: 100px; display: block; }
.diagonal-container polygon { fill: #FFF; }
.diagonal-container.color-light-2 polygon { fill: #9ACED8; }
.diagonal-container.color-light-background polygon { fill: #abceca; }

.diagonal-top { position: relative; top: -100px; margin-top: 100px; }

.stripe.header + .diagonal-top, .stripe.tagline + .diagonal-top, .diagonal-top.top-both { margin-top: 0px; }

.diagonal-top + .stripe { margin-top: -100px; }

.diagonal-top + .container { margin-top: -100px; }

.diagonal-bottom + .stripe { margin-top: -100px; padding-top: 140px; }

.diagonal-container.white .diagonal { fill: #FFFFFF; }

.diagonal-container.dark .diagonal, .diagonal-container.stripe.crossword-pattern .diagonal { fill: #40476c; }

.stripe.extra-height { padding-bottom: 140px; }

.btn, .container.assessment a { color: #2a58a5; border: 1px solid #2a58a5; padding: 10px; font-size: 1em; display: inline-block; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; }
.btn:hover, .container.assessment a:hover { background-color: #2a58a5; color: #FFF; transition: color 500ms, background 500ms; }

.btn.primary, .container.assessment a.primary, .dark .btn.primary, .stripe.crossword-pattern .btn.primary, .dark .container.assessment a.primary, .container.assessment .dark a.primary, .stripe.crossword-pattern .container.assessment a.primary, .container.assessment .stripe.crossword-pattern a.primary { background-color: #50b1a5; color: #FFF; border-color: #50b1a5; font-weight: bold; }
.btn.primary:hover, .container.assessment a.primary:hover, .dark .btn.primary:hover, .stripe.crossword-pattern .btn.primary:hover, .dark .container.assessment a.primary:hover, .container.assessment .dark a.primary:hover, .stripe.crossword-pattern .container.assessment a.primary:hover, .container.assessment .stripe.crossword-pattern a.primary:hover { background-color: #f26c25; border-color: #f26c25; transition: background-color 500ms, border-color 500ms; }

.btn.primary .icon, .container.assessment a.primary .icon { font-size: 2em; vertical-align: middle; }

.dark .btn, .stripe.crossword-pattern .btn, .dark .container.assessment a, .container.assessment .dark a, .stripe.crossword-pattern .container.assessment a, .container.assessment .stripe.crossword-pattern a { color: #FFF; border-color: #FFF; }

/* When on handheld devices, buttons inside smaller columns (i.e. 2/3 width column) will be narrower */
@media only screen and (max-width: 480px) { .col-2-3 .btn, .col-2-3 .container.assessment a, .container.assessment .col-2-3 a { text-align: center; } }
@media only screen and (max-width: 480px) { .col-2-3 .btn .icon, .col-2-3 .container.assessment a .icon, .container.assessment .col-2-3 a .icon { display: block; text-align: center; margin-top: 10px; } }

#phases-graphic { max-width: 550px; }

.learn h2, .arc-container.selected.learn h2, [phase='learn'] h2 { color: #9ACED8; }

.plan h2, .arc-container.selected.plan h2, [phase='plan'] h2 { color: #2897a5; }

.conduct h2, .arc-container.selected.conduct h2, [phase='conduct'] h2 { color: #2a7ea5; }

.inform h2, .arc-container.selected.inform h2, [phase='inform'] h2 { color: #2a58a5; }

.crossword-pattern [phase='inform'] h2 { color: #4C86E6; }

.arc-container:hover .arc, .arc.selected { stroke: #FFFFFF; stroke-width: 3px; }

.arc-container.unselected { fill: #697484; stroke: 0px; }

.manual .content { max-width: 100%; padding-top: 75px; }
.manual .content .section[id] { padding-top: 75px; margin-top: -75px; }
.manual .content .header-section-number { color: #999; margin-right: 10px; font-weight: lighter; }
.manual .content .section.level1, .manual .content > .section.level2, .manual .content > p { margin-left: 27%; }
.manual h2 { font-family: Lato, sans-serif; }
.manual h1 { font-family: Andada, serif; color: #50b1a5; }
.manual h3 { font-family: Lato, sans-serif; font-size: 1.2em; }
.manual footer { margin-left: 25%; width: 75%; }
.manual #header { display: none; }
.manual #TOC { max-height: 600px; width: 25%; float: left; margin-right: 40px; overflow-y: overlay; padding: 20px; position: fixed; }
.manual #TOC ul { list-style: none; }
.manual #TOC .active { font-weight: bold; color: #f26c25; }
.manual #TOC .toc-section-number { color: #999; }
.manual #TOC > ul { padding-left: 0px; }
.manual #TOC > ul > li > a { font-weight: bold; font-size: 1em; font-family: Andada, serif; line-height: 2em; margin-top: 20px; display: inline-block; }
.manual #TOC > ul > li > ul { padding-left: 10px; }
.manual #TOC > ul > li > ul > li > ul { padding-left: 23px; font-size: .9em; line-height: 1.5em; }
.manual #TOC > ul > li > ul > li > ul > li { margin-bottom: 10px; }
.manual #TOC code { font-size: 1em; background-color: transparent; color: inherit; padding: 0px; }

table { border-collapse: collapse; border-spacing: 0; background-color: transparent; }

td, th { padding: 0; }

th { text-align: left; }

table { width: 100%; max-width: 100%; margin-bottom: 20px; }

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td { padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #dddddd; }

table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #dddddd; }

table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td { border-top: 0; }

table > tbody + tbody { border-top: 2px solid #dddddd; }

table table { background-color: #ffffff; }

table-striped > tbody > tr:nth-of-type(odd) { background-color: #f9f9f9; }

table col[class*="col-"] { position: static; float: none; display: table-column; }

table td[class*="col-"], table th[class*="col-"] { position: static; float: none; display: table-cell; }

/* General stripe styles */
.stripe { padding: 40px; width: 100%; }
.stripe.display { min-height: 768px; }
@media only screen and (max-width: 480px) { .stripe.display { min-height: 480px; } }
@media only screen and (min-width: 481px) and (max-width: 759px) and (orientation: landscape) { .stripe.display { height: 360px; } }
.stripe.display .scroll-for-more { color: #FFF; margin-top: 270px; display: block; }
@media only screen and (max-width: 480px) { .stripe.display .scroll-for-more { margin-top: 100px; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) { .stripe.display .scroll-for-more { margin-top: 200px; } }
@media only screen and (min-width: 481px) and (max-width: 759px) and (orientation: landscape) { .stripe.display .scroll-for-more { margin-top: -20px; font-size: 2em; } }
.stripe.dark, .stripe.crossword-pattern { background-color: #40476c; }
.stripe.dark svg .label, .stripe.crossword-pattern svg .label { fill: #FFF; }
.stripe.dark a, .stripe.crossword-pattern a { color: #FFF; }
.stripe.crossword-pattern { background-image: url("../img/crossword-pattern.png"); background-repeat: repeat; font-size: 1.1em; }
.stripe.crossword-pattern h5 { color: #CCC; }
.stripe.crossword-pattern p { font-weight: lighter; }
.stripe.header { height: 300px; overflow-y: hidden; padding-left: 0px; padding-top: 75px; }
.stripe.header ~ .stripes-container { margin-top: -100px; }
.stripe.header .header-inner { background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%); background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); margin-top: 0px; min-height: 100%; margin-left: 0px; margin-right: 0px; max-width: 100%; padding-left: 40px; padding-top: 40px; }
.stripe.header .header-inner h1 { margin-top: 0px; height: 100%; max-width: 920px; margin-left: auto; margin-right: auto; font-size: 3em; }

.content > .stripe.header { padding-top: 75px; }

/* Stripe colors */
.stripe.light-font, .stripe.dark, .stripe.crossword-pattern, .stripe.primary-color { color: #FFF; }

.stripe.color-light-2 { background-color: #9ACED8; }
.stripe.color-light-2 h2 { color: #FFFFFF; }
.stripe.color-light-2 h4 { color: #40476c; }

.stripe.primary-color { background-color: #2a58a5; }

.stripe.color-light-background { background-color: #abceca; }

/** The Tools page **/
body[data-url='/resources/tools/index.html'] .stripes-container .stripe-2 { background-color: #9ACED8; }

body[data-url='/resources/tools/index.html'] .stripes-container .stripe-4 { background-color: #abceca; }

/*** The About page ***/
body[data-url='/about/index.html'] .stripes-container .stripe-2 { background-color: #9ACED8; }
body[data-url='/about/index.html'] .stripes-container .stripe-2 h2 { color: white; }
body[data-url='/about/index.html'] .stripes-container .stripe-2 h4 { color: #40476c; }

body[data-url='/about/index.html'] .stripes-container .stripe-4 { background-color: #abceca; }
body[data-url='/about/index.html'] .stripes-container .stripe-4 h2 { color: #40476c; }

/* Stripe background images */
.stripe.tagline { background-image: url("../img/school_fish_NOAA_DavidBurdick.jpg"); background-size: cover; }

.stripe.where-assessments { background-image: url("../img/map-background.png"); }

.header.whale { background-image: url("../img/whales.jpg"); background-size: cover; background-position-y: 33%; color: #FFF; }

.header.sealions { background-image: url("../img/sealion.jpg"); background-size: cover; background-position-y: 10%; color: #FFF; }

.header.fish { background-image: url("../img/fish.jpg"); background-size: cover; color: #FFF; }

.header.jellyfish { background-image: url("../img/jellyfish.jpg"); background-size: cover; background-position: 100% 91%; color: white; }

.stripe.map { min-height: auto; margin-bottom: 0px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#869999+0,b5d0d0+99 */ background: #869999; /* Old browsers */ background: -moz-linear-gradient(top, #869999 0%, #b5d0d0 99%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #869999 0%, #b5d0d0 99%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #869999 0%, #b5d0d0 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#869999', endColorstr='#b5d0d0',GradientType=0 ); /* IE6-9 */ }
.stripe.map > p:last-child { margin-bottom: 0px; }
.stripe.map + p { display: none; }

.stripe.map ~ #htmlwidget_container .leaflet-container { background-color: #B5D0D0; }

@font-face { font-family: 'Andada'; src: url("../fonts/Andada/Andada-Bold.otf"); }
/*** SCSS ***/
html, body { font-family: Lato, sans-serif; color: #222; font-weight: normal; padding: 0px; margin: 0px; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* General styles */
.center, p > img { display: block; margin-left: auto; margin-right: auto; }

p > img { max-width: 70%; margin-top: 20px; margin-bottom: 20px; }

.pointer { cursor: pointer; }

.plus { color: #f26c25; }
.plus .icon { vertical-align: super; }

.clear { clear: both; }

.subtle { color: #999; font-weight: normal; }

code { font-size: 1.2em; background-color: #EAEAEA; padding: 2px 10px; border-radius: 2px; color: #36776F; word-wrap: break-word; max-width: 100%; display: inline-block; }

blockquote { border-left: 3px solid #9ACED8; padding-left: 20px; background-color: #daedef; padding: 10px; }

img { max-width: 100%; }

.content li { list-style: none; margin-bottom: .5em; }

.content ul { padding-left: 20px; }

ul { list-style: none; }

/* Links and buttons */
a { text-decoration: none; color: #2a58a5; }

/* Icons */
.icon-large { font-size: 3em; }

.icon-med { font-size: 1.5em; vertical-align: middle; }

.icon-large.center, p > img.icon-large { width: 1em; }

.icon-right { margin-left: 5px; }

.icon-left { margin-right: 5px; }

/* Containers */
.container { clear: both; float: none; }
.container.break-above { margin-top: 80px; }

.content > .stripe > *, .content > .container { display: block; margin-left: auto; margin-right: auto; max-width: 1000px; }

.content > .container:first-child { margin-top: 0px; }

.content > .container { padding: 40px; }

.content > *:first-child, .content > .container:first-child { padding-top: 115px; }

/* The forum list */
.forum-list { list-style: none; padding-left: 0px; }
.forum-list li { border: 1px solid #999; margin-bottom: 20px; }
.forum-list li .label { margin-left: 10px; padding: 5px 10px; display: inline-block; -webkit-border-radius: 4px; border-radius: 4px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ }
.forum-list li .label a { color: #FFF; }
.forum-list li .label .btn, .forum-list li .label .container.assessment a, .container.assessment .forum-list li .label a { float: right; width: 150px; }
.forum-list li .label:hover { background-color: #f26c25 !important; }
.forum-list li .user { margin-left: 20px; }
.forum-list li > span { float: left; width: 85%; width: calc(100% - 150px - 20px); padding: 10px; }
.forum-list li > span a { color: #222; }
.forum-list li > span a:hover { color: #2a58a5; }

/* The OHI+ assessment list */
.container.assessment { margin-bottom: 40px; margin-top: 20px; }
.container.assessment h4 { margin-bottom: 0px; font-size: 1.2em; font-family: Lato, sans-serif; line-height: 1em; }
.container.assessment h4 a { border: 0px; padding: 0px; color: inherit; }
.container.assessment h4 a:hover { background-color: transparent; color: #2a58a5; }
.container.assessment a { text-transform: capitalize; }

.posts-list article { padding-bottom: 40px; padding-top: 40px; }
.posts-list article:not(:last-child) { border-bottom: 1px solid #50b1a5; }

.post hgroup { border-bottom: 1px solid #50b1a5; padding-bottom: 40px; margin-bottom: 40px; }
