---
# Main Sass file
---

/** Sass variables **/
$font-stack: Lato, sans-serif;
$font-weight: normal;
$font-color: #222;

$display-font-stack: Lato, sans-serif;
$display-weight: bold;
$display-size: 4em;

$header-font-stack: Andada, serif;
$header-weight: bold;

$subheading-font-stack: Lato, sans-serif;
$subheading-weight: lighter;
$subheading-color: #777;

$primary-color: #2a58a5;   /* blue */
$primary-color-transparent: rgba(43, 89, 164, .85);
$highlight-color: #f26c25; /* orange */
$color-dark: #40476c;      /* purple-blue */
$color-light: #50b1a5;     /* light teal */
$color-light-2: #9ACED8;   /* light blue */

$pad-small: 10px;
$pad-large: 40px;

$icon-large: 3em;

/* Responsive variables */
$break-x-small: 320px;
$break-small: 480px;
$break-med: 760px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == handhelds-landscape {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-med - 1) and (orientation: landscape) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == all-mobiles {
  	@media all and (max-width: 900px) { @content; }
  }
}


/*** Imports ***/
@import 'grid';
@import 'nav';
@import 'footer';
@import 'headers';
@import 'diagonals';
@import 'buttons';
@import 'phases';

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);
@font-face {
  font-family: 'Andada';
  src: url('../fonts/Andada/Andada-Bold.otf');
  }
  
/*** SCSS ***/  
html, body{
	font-family: $font-stack;
	color: $font-color;
	font-weight: $font-weight;
	padding: 0px;
	margin: 0px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General styles */
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pointer{
	cursor: pointer;
}
.plus{
	color: $highlight-color;
	.icon{
		vertical-align: super;
	}
}
.clear{
	clear: both;
}
.subtle{
	color: #999;
	font-weight: normal;
}
img{
	max-width: 100%;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


/* Links and buttons */
a {
    text-decoration: none;
    color: $primary-color;
}
/* Inner-page anchors move up a little to accomodate for the fixed header */
a[name]{
	top: $nav-height * -1;
    position: relative;
    display: block;
    visibility: hidden;

	/* anchor tags are moved up in mobile devices because the nav-bar is shorter */
    @include respond-to(all-mobiles){	
		top: -50px;
	}
}


/* Icons */
.icon-large{
	font-size: $icon-large;
}
.icon-med{
	font-size: 1.5em;
	vertical-align: middle;
}
.icon-large.center{
	width: 1em;
}
.icon-right{
	margin-left: 5px;
}
.icon-left{
	margin-right: 5px;
}


/* Containers */
.container{
	clear: both;
	float: none;
	
	&.break-above{
		margin-top: $pad-large * 2;
	}	
}
.stripe{
	padding: $pad-large;
	width: 100%;
	
	&.display{
		min-height: 768px;
		@include respond-to(handhelds){ 
			min-height: 480px; 
		}
		@include respond-to(handhelds-landscape){
			height: 360px;
		}
		.scroll-for-more{
		    color: #FFF;
			margin-top: 270px;
			display: block;
			
			@include respond-to(handhelds){ 
				margin-top: 100px; 
			}
			@include respond-to(medium-screens){
				margin-top: 200px;
			}
			@include respond-to(handhelds-landscape){
				margin-top: -20px;
				font-size: 2em;
			}
		}
	}
	&.dark{
		@extend .light-font;
		background-color: $color-dark;
		svg .label{
			fill: #FFF;
		}
		a{
			color: #FFF;
		}
	}
	&.crossword-pattern{
		@extend .dark;
		background-image: url('../img/crossword-pattern.png');
		background-repeat: repeat;
		
		h5{
			color: #CCC;
		}
		p{
			font-weight: lighter;
		}
	}
	&.header{
		min-height: 300px;
	}
}
.content > .stripe > *,
.content > .container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}
.content > .container,
{
	padding: $pad-large;
}
.content > *:first-child,
.content > .container:first-child{
	padding-top: $nav-height;
}

.stripe.light-font{
	color: #FFF;
}
.stripe.color-light-2{
	background-color: $color-light-2;
	
	h3{
		color: #FFFFFF;	
	}
	h4{
		color: $color-dark;	
	}
}
.stripe.primary-color{
	background-color: $primary-color;
	@extend .light-font;
}

.forum-list{
	list-style: none;
	padding-left: 0px;
	
	li{
		border: 1px solid #999;
		margin-bottom: $pad-small * 2;

		.label{
			margin-left: $pad-small;
			padding: #{$pad-small / 2} $pad-small;
			display: inline-block;
			@include border-radius(4px);
			
			a{
				color: #FFF;
			}
			
			.btn{
				float: right;
				width: 150px;
			}
			
			&:hover{
				background-color: $highlight-color !important;
			}
		}
		
		.user{
			margin-left: $pad-large / 2;
		}
	}
	
	li > span{
		float: left;
		width: 85%;
		width: calc(100% - 150px - #{$pad-small * 2});
		padding: $pad-small;
		
		a{
			color: #222;			
			&:hover{
				color: $primary-color;
			}
		}
	}
}


/* Specifically-styled containers */
.stripe.tagline{
	background-image: url('../img/school_fish_NOAA_DavidBurdick.jpg');
	background-size: cover;
}
.stripe.where-assessments{
	background-image: url('../img/map-background.png');
}
.container.assessment{
	margin-bottom: $pad-large;
	a{
		@extend .btn;
	}
}
.stripe.about{
	background-image: url('../img/whales.jpg');
	background-size: cover;
	background-position-y: 33%;
}
