---
layout: default
---

{% include JB/setup %}

<nav id="goals-menu" class="goals fixed-side-nav">
	<ul class="nav">
		<li class="nav-item goal NP">
			<img src="{{ ASSET_PATH }}OHI/img/goals/NP.png" />
			<a href="#natural-products">Natural Products</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal FP">
			<img src="{{ ASSET_PATH }}OHI/img/goals/FP.png" />
			<a href="#food-provision">Food Provision</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal AO">
			<img src="{{ ASSET_PATH }}OHI/img/goals/AO.png" />
			<a href="#artisanal-fishing-opportunities">Artisanal Fishing Opportunities</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal CS">
			<img src="{{ ASSET_PATH }}OHI/img/goals/CS.png" />
			<a href="#carbon-storage">Carbon Storage</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal CP">
			<img src="{{ ASSET_PATH }}OHI/img/goals/CP.png" />
			<a href="#coastal-protection">Coastal Protection</a>
			<div class="clear"></div>
		</li>		
		<li class="nav-item goal TR">
			<img src="{{ ASSET_PATH }}OHI/img/goals/TR.png" />
			<a href="#tourism-and-recreation">Tourism and Recreation</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal LE">
			<img src="{{ ASSET_PATH }}OHI/img/goals/LE.png" />
			<a href="#livelihoods-and-economies">Livelihoods and Economies</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal SP">
			<img src="{{ ASSET_PATH }}OHI/img/goals/SP.png" />
			<a href="#sense-of-place">Sense of Place</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal BD">
			<img src="{{ ASSET_PATH }}OHI/img/goals/BD.png" />
			<a href="#biodiversity">Biodiversity</a>
			<div class="clear"></div>
		</li>
		<li class="nav-item goal CW">
			<img src="{{ ASSET_PATH }}OHI/img/goals/CW.png" />
			<a href="#clean-waters">Clean Waters</a>
			<div class="clear"></div>
		</li>
	</ul>
	<div class="clear"></div>
</nav>

<div class="goals-container side-content">
	{{ content }}
</div>
